.custom-table {
    border: 1px #ccc solid;
    font-size: 13px;
    letter-spacing: 0.1px;
}

.custom-cell {
    text-align: center;
}

.custom-header .custom-cell {
    padding: 15px;
    border-right: 1px #ccc solid;
    border-left: 1px #ccc solid;
    cursor: cell;
}

.header-border {
    border-bottom: 1px #ccc solid;
}

.custom-row .custom-cell {
    padding: 15px;
    border: 1px #ccc solid;
    white-space: no-wrap;
    cursor: pointer;
}

.header-cell {
    background-color: rgba(240, 240, 240, 0.5);
    font-weight: bold;
}

.empty-cell {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: cell !important;
}

.disabled-cell {
    background-color: rgba(0, 0, 0, 0.1);
}